#notifier-box {
	position: fixed;
	bottom: 0;
	right: 10px;
	z-index: 10000000000;
}
	div.message-wrap {
		background: #000;

		opacity: 0.75;

		margin: 0 0 10px 0;
		width: 300px;

		color: #fff; font-size: 11px; font-family: Tahoma, Arial, sans-serif;

		-webkit-box-shadow: 0 2px 15px #888;
		-moz-box-shadow: 0 2px 15px #888;
		-o-box-shadow: 0 2px 15px #888;
		box-shadow: 0 2px 15px #888;

		-webkit-text-shadow: 0 1px 0 #262626;
		-moz-text-shadow: 0 1px 0 #262626;
		-o-text-shadow: 0 1px 0 #262626;
		text-shadow: 0 1px 0 #262626;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}

	div.message-box {
		padding: 10px;
	}

	div.message-box div.message-header {
		color: #fff; font-weight: bold; font-size: 12px;
		margin: 0 0 10px 0;
		-webkit-text-shadow: 0 1px 0 #262626;
		-moz-text-shadow: 0 1px 0 #262626;
		-o-text-shadow: 0 1px 0 #262626;
		text-shadow: 0 1px 0 #262626;
	}

	div.message-box a.message-close {
		position: relative;
		top: 4px;
		left: -4px;
		background: #000 url(http://s3-eu-west-1.amazonaws.com/ifrogcdn/img/core/notify/message-close.gif) center no-repeat;
		width: 7px; height: 7px;
		display: block; float: right;
	}

	div.message-box:hover a.message-close {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-o-opacity: 1;
		opacity: 1;
	}

	div.message-box div.message-body {
		overflow: hidden;
		-webkit-text-shadow: 0 1px 0 #262626;
		-moz-text-shadow: 0 1px 0 #262626;
		-o-text-shadow: 0 1px 0 #262626;
		text-shadow: 0 1px 0 #262626;
	}

	div.message-box div.message-body a {
		color: #B1DAFF;
	}

	div.message-box div.message-body div.thumb {
		width: 48px;
		height: 48px;
		margin: 0 10px 0 0;
		float: left;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}

	div.message-box div.message-body div.thumb img {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
}