.DHTMLSuite_formCoverDiv{	/* Div used to display ajax loader */
	background-color:#FFF;

}

.DHTMLSuite_formCoverDiv_ajaxLoader{
	width:140px;
	height:50px;
	border:1px solid #9CBDFF;
	background-color:#FFF;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-70px;
	margin-top:-25px;
	background-image:url(../images/dynamic-content/ajax-loader-darkblue.gif);
	background-position:center center;
	background-repeat:no-repeat;
}

.message{
	font-family:'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,Verdana,sans-serif;
}
.message-success{color:#3c763d;background-color: #dff0d8;border: 1px solid transparent;margin: 10px 0px;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;}
.message-error{color:#a94442;background-color: #f2dede;border: 1px solid transparent;margin: 10px 0px;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;}
