.DHTMLSuite_textEdit_label{	/* label */
	/*background-color:#316ac5;
	color:#FFF;*/
	color:#FFF;
	background-color:#ffffaa
}
.DHTMLSuite_textEdit_select,.DHTMLSuite_textEdit_input{
	width:80%;
	font-size:11px;
	line-height:12px;
	margin:0px;
	padding:2px;
	background-color:#ffffaa;
	border:solid 1px navy;
}

.DHTMLSuite_textEdit_input{
	height:18px;
}
.DHTMLSuite_textEdit_select{
	height:18px;
}

.DHTMLSuite_scrollingContent  tr td label{color:black;width:100%;height:100%;display:inline-table;background-color:inherit!important;}
.DHTMLSuite_scrollingContent  tr td div{color:black;background-color:inherit!important;}
.DHTMLSuite_scrollingContent  tr td label input{width:100%;height:100%;background-color:#ffffaa;color:black;}
.DHTMLSuite_scrollingContent  tr td label select{width:100%;height:100%;background-color:#ffffaa;color:black;}


label {
	/*float:left*/
	}