#gm-block {width: 100%; height: 740px;}
    #gm-head {width: 100%; height: 98px;}
    #gm-body {width: 100%; height: 611px; font-size: 11px; background: white;}
        #gm-map {float: left; width: 445px; height: 400px; padding: 5px;}
            #gm-map-container {width: 445px; height: 400px; background: #aaa;}
            #gm-text {margin: 12px 0 0; padding: 10px 0 0; border: 0; border-top: 1px solid white;}
        #gm-foot {padding: 12px 0 0 2px;}
            * html #gm-foot {padding: 9px 0 0 2px;}
            #gm-foot1 input.text {width: 400px;}
            
.gmnoprint {
	font-size: 14px;
	font-family: Verdana, Arial;
	color: navy;
    }
    
a {
	font-size: 9px;
	font-family: Verdana, Arial;
	color: navy;
	text-decoration:none;
}
input.submit {
    color: navy;
    font: normal 11px Tahoma, Verdana, Arial;
    background-color: #dae1ea;
    text-decoration: none;
    border: 1px solid navy;
    padding: 3px 5px;
}
h3 {
	margin: 0px 0px 0px 10px;
	font-size: 13px;
	font-family: Verdana, Arial;
	color: red;
	font-weight: bold;
}
