	body{
		margin:0px;
		margin-top:25px;
		width:100%;
		text-align:center;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	}
	#mainContainer{
		margin:0 auto;
		width:470px;
		height:445px;
		text-align:left;
		background-color:#FFF;
		padding:3px;
		border:1px solid navy;
		float:right;	
	}
	.clear{
		clear:both;
	}
	/* End of demo CSS */
	#DHTMLgoodies_panel_one,#DHTMLgoodies_arrows,#DHTMLgoodies_thumbs{	/* Width of divs for thumbnails */
		width:205px;
	}
	#DHTMLgoodies_panel_one{		
		float:left;	
	}
	#DHTMLgoodies_thumbs{
		overflow:hidden;	/* Don't change this */
		height:370px;	/* Height of thumbnail div */
		position:relative;	/* Never change this */
		float:left;
		width:230px;
	}
	#DHTMLgoodies_largeImage{	/* Large image div */
		width:200px;	/* Width of large image div */
		height:200px;	/* Height of large image div */
		float:left;
		margin-left:15px;	/* "Air" */
		padding-left:15px;	/* "Air" */
		padding-right:10px;
		cursor:hand;
	}
	#DHTMLgoodies_largeImage table{	/* Used table to get both horizontal and vertical center alignement of large image */
		width:100%;
		height:100%;
		text-align:center;
	}
	#DHTMLgoodies_largeImage img{	/* Large image */
		border:1px solid navy;	/* Border around large image */
	}
	
	
	.strip_of_thumbnails{	/* A vertical strip of thumbnails */
		width:100px;	/* Width of strip */
		padding:5px;	/* "Air" inside filmstrip div */
		position:absolute;

	}
	.strip_of_thumbnails div{
		width:100px;
		height:100px;
		padding:5px;
		text-align:center;

	}
	.strip_of_thumbnails img{
		border:0px;
		padding:1px;
	}
	.strip_of_thumbnails .activeImage{	/* Active thumbnail */
		border:1px solid navy;	/* Green border around active thumbnail */
		padding:1px;
	
	}
	.leftArrow{
		float:left;
	}
	.rightArrow{
		float:right;
	}
	#DHTMLgoodies_thumbs_inner{
		position:relative;	/* Never change this */
		width:200px;
	}	