body,textarea,div,iframe{scrollbar-3dlight-color:#999;scrollbar-arrow-color:#999;scrollbar-base-color:#FFF;scrollbar-face-color:#FFF;scrollbar-track-color:#FFF;scrollbar-darkshadow-color:#FFF;}
.DHTMLSuite_paneContentInner{margin:0 -3px;}
#innerDiv{left:0;width:100%;background:url('/admin/img/menu_strip_bg.jpg') repeat-x;margin:0 0 1px;padding:0;}
#innerDiv2{left:0;width:100%;background:url('/admin/img/menu_strip_bg_2.gif') repeat-x;margin:0;padding:0;}
#innerDiv2 .DHTMLSuite_menuBar_top{height:82px;}
#innerDiv .DHTMLSuite_menuItem_top_regular,#innerDiv .DHTMLSuite_menuItem_top_over,#innerDiv .DHTMLSuite_menuItem_top_click,#innerDiv .DHTMLSuite_menuItem_top_disabled,#innerDiv .DHTMLSuite_menuItem_top_active{height:21px;}
#innerDiv2 .DHTMLSuite_menuItem_top_regular,#innerDiv2 .DHTMLSuite_menuItem_top_over,#innerDiv2 .DHTMLSuite_menuItem_top_click,#innerDiv2 .DHTMLSuite_menuItem_top_disabled,#innerDiv2 .DHTMLSuite_menuItem_top_active{height:74px;width:74px;}
#innerDiv .DHTMLSuite_menuItem_top_click div,#innerDiv .DHTMLSuite_menuItem_top_over div{text-align:center;font-size:14px;font-family:verdana;line-height:14px;letter-spacing:0;margin-left:5px;color:#000;}
#innerDiv .DHTMLSuite_menuItem_top_active div,#innerDiv .DHTMLSuite_menuItem_top_disabled div,#innerDiv .DHTMLSuite_menuItem_top_regular div{text-align:center;font-size:14px;font-family:verdana;line-height:14px;letter-spacing:0;margin-left:5px;color:#FFF;}
#innerDiv .DHTMLSuite_menuBar_top img{float:left;margin-right:5px;}
#innerDiv .DHTMLSuite_menuItem_textContent{float:left;}
.dhtmlgoodies_tree ul{margin-left:20px;padding-left:0;display:none;}
#floatingContainer ul{margin-left:20px;padding-left:0;}
.dhtmlgoodies_tree li,#floatingContainer li{list-style-type:none;vertical-align:absMiddle;}
.tree_icon{vertical-align:bottom;}
.dhtmlgoodies_tree li a,#floatingContainer li a{color:#000;text-decoration:none;font-family:verdana;font-size:0.8em;padding-left:1px;padding-top:0;line-height:13px;margin-left:2px;}
.dhtmlgoodies_tree li a.highlightedNodeItem{color:#FFF;background-color:#009;}
.dhtmlgoodies_tree input.folderTreeTextBox{font-size:10px;height:12px;margin:0;padding:0;}
.dhtmlgoodies_tree,#floatingContainer,body{margin:0;padding:0;}

.zipimport_progress_items {
    width: 290px;
    float: left;
    border: 1px solid #AAAAAA;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
    padding: 5px;
    font-size: 10px;
    background: #f9f9f9;
}
.zipimport_progress_error{
  background-color: red!important;
}
    #zipimport_progress_items .loading {
        opacity: 0.5;
    }
        #zipimport_progress_items .loading .pic {
            background: #fff url(/admin/img/loading_32.png) 50% 50% no-repeat;
        }
    .zipimport_progress_items .pic {
        float: left;
        width: 50px;
        height: 50px;
        margin: 0 10px 0 0;
        border: 1px solid #eee;
        background: #fff;
        overflow:hidden;
        border-radius: 5px;
    }
        .zipimport_progress_items .pic img {
            width: 100px;
            margin: 0 0 0 -50%;
        }
        .zipimport_progress_items .info {
            position: relative;
        }
            .zipimport_progress_items .info p {
                margin: 0;
            }
                .zipimport_progress_items .info p span {
                    font-weight: bold;
                }
                .zipimport_progress_items .info .filename {
                    font-size: italic;
                    margin-bottom: 10px;
                }
                .zipimport_progress_items .info .dimension {
                    position: absolute;
                    top: 40px;
                    left: 62px;
                }
                .zipimport_progress_items .info .size {
                    position: absolute;
                    top: 40px;
                    right: 2px;
                }



#loading-progress {
    display: none;
    padding: 15px 0 0 10px;
    font-size: 13px;
}
    #loading-progress-msg {
        padding: 0 0 0 20px;
        font-weight: bold;
        color: red;
        background: url(/admin/img/loading_16_red.png) 0 50% no-repeat;
    }
        .loaded #loading-progress-msg {
            color: green !important;
            background: none !important;
            /*padding: 0 !important; */
        }
    #loading-progress-percent {
        font-weight: bold;
    }
    #loading-progress-stats {
        color: #999;
    }
        #loading-progress-stats b {
            font-weight: normal;
        }
