#vfe-panel {
    z-index: 1000001;
    position: fixed;
    top: -24px;
    left: 0;
    width: 100%;
    height: 28px;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 28px;
    color: #ddd;
    background: #464646 url(images/panelbg.gif) 0 0 repeat-x;
    box-shadow: 0 0 10px #000;
}
    #vfe-panel-ifrog {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 46px;
        height: 28px;
        background: url(images/freddy.png) 50% 0 no-repeat;
        background: url(images/freddy.png) 50% 0 no-repeat, url(images/panelbg.gif) 0 0 repeat-x;
        
        -webkit-transition: all 0.2s 0s ease-in;
        -moz-transition: all 0.2s 0s ease-in;
        -o-transition: all 0.2s 0s ease-in;
        -ms-transition: all 0.2s 0s ease-in;
    }
        #vfe-panel-ifrog:hover {
            background: url(images/freddy.png) 50% -28px no-repeat;
            background: url(images/freddy.png) 50% -28px no-repeat, url(images/panelbga.png) 0 0 repeat-x;
        }
    #vfe-panel-admin {
        position: absolute;
        left: 46px; 
        width: 120px;
        padding: 0 10px 0 30px;
        color: #ddd;
        text-decoration: none;
        text-align: center;
        background: url(images/admin.png) 10px 0 no-repeat;
        border-left: 1px solid #333;
        box-shadow: 2px 0px 0px -1px #555 inset;
    }
        #vfe-panel-admin:hover {
            color: #fff;
            background: url(images/admin.png) 10px -28px no-repeat;
            background: url(images/admin.png) 10px -28px no-repeat, url(images/panelbga.png);
        }
    #vfe-panel-wfe {
        position: absolute;
        left: 207px; 
        width: 140px;
        padding: 0 10px 0 27px;
        color: #ddd;
        text-decoration: none;
        text-align: center;
        background: url(images/edit.png) 10px 0 no-repeat;
        border-left: 1px solid #333;
        box-shadow: 2px 0px 0px -1px #555 inset; 
    }
        #vfe-panel-wfe:hover {
            color: #fff;
            background: url(images/edit.png) 10px -28px no-repeat;
        }
        #vfe-panel-wfe.current {
            color: #fff;
            background: url(images/edit.png) 10px -28px no-repeat;
            background: url(images/edit.png) 10px -28px no-repeat, url(images/panelbga.png);
        }
    #vfe-panel-css {
        position: absolute;
        left: 528px; 
        width: 125px;
        padding: 0 10px 0 34px;
        color: #ddd;
        text-decoration: none;
        text-align: center;
        background: url(images/css.png) 12px 0 no-repeat;
        border-left: 1px solid #333;
        box-shadow: 2px 0px 0px -1px #555 inset;
    }
        #vfe-panel-css:hover {
            color: #fff;
            background: url(images/css.png) 12px -28px no-repeat;
        }
        #vfe-panel-css.current {
            color: #fff;
            background: url(images/css.png) 12px -28px no-repeat;
            background: url(images/css.png) 12px -28px no-repeat, url(images/panelbga.png);
        }
    #vfe-panel-hide {
        position: absolute;
        left: 385px; 
        width: 107px;
        padding: 0 10px 0 27px;
        color: #ddd;
        text-decoration: none;
        text-align: center;
        background: url(images/hide.png) 10px 0 no-repeat;
        border-left: 1px solid #333;
        box-shadow: 2px 0px 0px -1px #555 inset;
    }
        #vfe-panel-hide:hover {
            color: #fff;
            background: url(images/hide.png) 10px -28px no-repeat;
        }
        #vfe-panel.hidden #vfe-panel-hide {
            color: #fff;
            background: url(images/hide.png) 10px -28px no-repeat;
            background: url(images/hide.png) 10px -28px no-repeat, url(images/panelbga.png);
        }
    #vfe-panel-toggle {
        position: absolute;
        top: 30px;
    }
    #vfe-panel-logout {
        position: absolute;
        right: 10px; 
        padding: 0 25px 0 35px;
        background: url(images/user.png) 10px 50% no-repeat;
        border-left: 1px solid #333;
        box-shadow: 2px 0px 0px -1px #555 inset;
        cursor: default;
    }
        #vfe-panel-logout a {
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            width: 16px;
            height: 16px;
            margin: -8px 0 0;
            background: url(images/cancel.png);
        }

#vfe-css {
    display: none;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/blackbox.png);
}
    #vfe-css-container {
        position: absolute;
        top: 80px;
        left: 50px;
        display: block;
        width: 90%;
        height: 80%;
        font-size: 14px;
        font-family: "Courier New", monospace;
        color: #eee;
        overflow-y: scroll;
    }

.vfe[contenteditable=true] {
    outline: 3px solid red;
    box-shadow: 0 0 2px transparent;
}
    .vfe-hideoutlines .vfe {
        outline: none !important;
    }
    .vfe[contenteditable=true]:hover, .vfe-editing {
        z-index: 100000;
        outline: 10000px solid rgba(0,0,0,0.25) !important;
    }
    .vfe-hideoutlines .vfe:hover {
        outline: 2px solid #aaa !important;
    }
    .vfe-hideoutlines .vfe.vfe-editing {
        outline: 10000px solid rgba(0,0,0,0.25) !important;   
    }

 
#vfe-float {
    display: none;
    z-index: 1000000;
    position: absolute;
    height: 20px;
    padding: 1px 0 0;
    background: #e6e6e6;
    border: 1px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 2px;
    box-shadow: inset 0 1px 0px 0px #fff;
}
    #vfe-float a {
        float: left;
        width: 16px;
        height: 16px;
        margin: 2px;
        opacity: 0.8;
    }
        #vfe-float a:hover {
            opacity: 1;
        }
        #vfe-float.disabled a {
            cursor: default;
        }
        #vfe-float-save {
            background: url(images/panel_buttons.png) 0 0 no-repeat;
        }
            #vfe-float-save.disabled {
                opacity: 0.25 !important;
                cursor: default;
            }
        #vfe-float-undo {
            background: url(images/panel_buttons.png) -16px 0 no-repeat;
        }
            #vfe-float-undo.disabled {
                opacity: 0.25 !important;
                cursor: default;
            }
        #vfe-float-redo {
            background: url(images/panel_buttons.png) -32px 0 no-repeat;
        }
            #vfe-float-redo.disabled {
                opacity: 0.25 !important;
                cursor: default;
            }
        #vfe-float-cancel {
            background: url(images/panel_buttons.png) -48px 0 no-repeat;
        }
            #vfe-float-cancel.disabled {
                opacity: 0.25 !important;
                cursor: default;
            }
        
    #vfe-float-loading {
        display: none;
        float: left;
        width: 18px;
        height: 18px;
        margin: 1px;
        background: url(images/loading.gif) 50% 50% no-repeat;
    }



#vfe-msg {
    z-index: 999999;
    position: fixed;
    right: 20px;
    bottom: -100px;
    max-width: 200px;
    padding: 15px 15px 15px 60px;
    font-size: 12px;
    color: #fff;
    background: url(images/msg_okay.png) 7px 10px no-repeat;
    background-color: #111;
    background-color: rgba(0,0,0,0.75);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
    #vfe-msg.error {
        background-image: url(images/msg_error.png);
    }
    #vfe-msg span {
        font-size: 14px;
        font-weight: bold;
        color: #80bbf6;
    }
    #vfe-msg p {
        margin: 5px 0 0;
    }
    #vfe-msg a {
        position: absolute;
        top: 7px;
        right: 7px;
        display: block;
        width: 11px;
        height: 11px;
        background: url(images/msg_close.gif) 0 0 no-repeat;
    }