AddDefaultCharset UTF-8

Options FollowSymLinks Includes MultiViews

#AddHandler fcgid-script .fcgi

# The DirectorySlash directive determines, whether mod_dir should fixup URLs pointing to a directory or not.
DirectorySlash Off

RewriteEngine On
RewriteRule \.git - [F,L]


RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)/$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /cgi-bin/script/dispatch.fcgi/$1 [QSA,L]
