AddDefaultCharset UTF-8

# force utf-8 for a number of file formats
AddCharset utf-8 .xhtml .html .css .js .xml .json .rss

#disable generating directory indexes, automatically( mod_autoindex )
IndexOptions -FancyIndexing

# Make sure that directory listings are disabled (Apache 1)
Options -Indexes +ExecCGI

#AddHandler fcgid-script .fcgi

# The DirectorySlash directive determines, whether mod_dir should fixup URLs pointing to a directory or not.
DirectorySlash Off

RewriteEngine On
RewriteRule \.git - [F,L]


RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)/$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /cgi-bin/script/dispatch.cgi/$1 [QSA,L]
