AddDefaultCharset UTF-8

Options FollowSymLinks Includes MultiViews Indexes

#AddHandler fcgid-script .fcgi

RewriteEngine On

RewriteRule \.git - [F,L]

# remove trailing slash if the url points to a non-existing folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)/$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /cgi-bin/script/dispatch.fcgi/$1 [QSA,L]

