#DHTMLgoodies_formTooltipDiv{
	color:black;
	font-family:arial;
	font-weight:bold;
	font-size:10px;
	line-height:120%;
	border:solid 1px grey
}
.DHTMLgoodies_formTooltip_closeMessage{
	color:black;
	font-weight:normal;
	font-size:10px;
}

#DHTMLgoodies_formTooltipContent {
	margin:10px;
	}